<div class="transactions">Transactions</div>
<div class="transaction-list-container">
  <button class="create-button" nbButton ghost (click)="openTransactionTypeDialog()">Create transaction</button>
  <div *ngFor="let transactionGroup of transactionGroups">
    <div class="transaction-group">
      <div class="transaction-details date-style">{{ transactionGroup.transactionDate | date:'dd MMM yyyy' }}</div>
      <div class="transaction-amount" style="font-size: 18px;">{{ transactionGroup.todayStatistic }} RON</div>
    </div>
    <ul class="responsive-table" *ngFor="let transaction of transactionGroup.transactions">
      <li class="table-row">
        <div class="transaction-details">
        	<div class="category" routerLink="/transactions/edit/{{ transaction.id }}">{{ transaction.category.name }}</div>
        	<div class="single-transaction">{{ transaction.account.name }}</div>
        	<div class="note">{{ transaction.note }}</div>
        </div>
        <div class="transaction-amount money expense" *ngIf="transaction.transactionType == 1">- {{ transaction.amount }} {{ transaction.currencyName }}</div>
        <div class="transaction-amount money" *ngIf="transaction.transactionType == 2">+ {{ transaction.amount }} {{ transaction.currencyName }}</div>
      </li>
    </ul>
  </div>
</div>
