<div class="transactions">Transactions</div>
<div class="transaction-list-container">
  <div style="padding: 20px 0;">
    <button  status="primary" class="primary-button normal-weight" routerLink='/transactions/create'>
      <div icon="plus-outline"></div>
      New Transaction
    </button>
  </div>
  <div style="border: none; margin-bottom: 0;">
    <ul class="transaction-list">
      <li *ngFor="let transaction of transactions">
        <div class="table-row" *ngIf="!transaction.isHeader">
          <div class="transaction-details">
            <div class="category" routerLink="/transactions/edit/{{ transaction.id }}">{{ transaction.category.name }}</div>
            <div class="single-transaction">{{ transaction.account.name }}</div>
            <div class="note">{{ transaction.note }}</div>
          </div>
          <div class="transaction-amount money" *ngIf="transaction.transactionType == 1">
            <div class="expense">- {{ transaction.amount }} {{ transaction.currencyName }}</div>
            <button class="trash-icon" style="margin-top: 15px;" (click)="openDeleteTransactionDialog(transaction.id)"></button>
          </div>
          <div class="transaction-amount money" *ngIf="transaction.transactionType == 2">
            + {{ transaction.amount }} {{ transaction.currencyName }}
          </div>
        </div>
        <div class="transaction-group" *ngIf="transaction.isHeader">
          <div class="transaction-details date-style">{{ transaction.transactionDate | date:'dd MMM yyyy' }}</div>
          <div class="transaction-amount" style="font-size: 18px;">{{ transaction.todayStatistic }} {{transaction.transactionGroupCurrency}}</div>
        </div>
      </li>
      <li *ngIf="transactions.length == 0" style="height: 60px;">
      </li>
      <li *ngFor="let _ of pageInformation.placeholders">
        <div class="table-row">
          <div class="transaction-details">
            <div class="skeleton-card-bone skeleton-bone-1"></div>
            <div class="skeleton-card-bone skeleton-bone-2"></div>
            <div class="skeleton-card-bone skeleton-bone-3"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="transactions.length === 0">
    No existing transactions. Let's add one!
  </div>
</div>
