@import 'src/themes';

li {
  padding: 0;
}

ul {
  //background-color: nb-theme(color-basic-1000);
}

.table-row {
  //background-color: nb-theme(color-basic-800);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  width: 100%;
  padding: 20px;
  display: flex;
  margin-bottom: 20px;
}

.transaction-details {
  flex-basis: 80%;
}

.transaction-amount {
  flex-basis: 20%;
  text-align: end;
}

.transactions {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  padding: 20px;
  //color: nb-theme(color-primary-500);
}

.category {
  //color: nb-theme(color-primary-500);
  //font-weight: 600;
}

.category:hover {
  cursor: pointer;
}

.note {
  font-style: italic;
  line-height: 1.5;
  color: #b9b9b9;
}

.single-transaction {
  line-height: 1.5;
  color: #b9b9b9;
}

.transaction-group {
  border-radius: 3px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: #b9b9b9;
  width: 100%;
}

.create-button:hover {
  background-color: rgba(71, 116, 206, 0.08) !important;
}

.create-button {
  background-color: rgba(71, 116, 206, 0.08) !important;
  margin-bottom: 15px;
  text-transform: none !important;
  //color: nb-theme(color-primary-500) !important;
}

.date-style {
  font-size: 20px;
  margin-right: 2px;
}

.category:focus {
  outline: none;
}

.transaction-list-container {
  margin-left: 15%;
  margin-right: 15%;
}

// Responsive

@media all and (max-width: 600px) {
  .table-header {
    display: none;
  }

  li {
    display: block;
  }

  .transaction-details, .transaction-amount {
    flex-basis: 100%;
    display: block;
    text-align: center;
  }

  .money {
    margin-top: 10px;
  }
}

.expense {
  color: red;
}

// Skeleton

.skeleton-card-bone {
  //background-color: nb-theme(color-basic-700);
  border-radius: 20px;
}

.skeleton-bone-1 {
  width: 300px;
  height: 20px;
  margin-bottom: 5px;
}

.skeleton-bone-2 {
  width: 200px;
  height: 20px;
  margin-bottom: 5px;
}

.skeleton-bone-3 {
  width: 100px;
  height: 20px;
}

.transaction-list {
  list-style: none;
}