<div class="default-panel">
  <div class="default-header">Create Category</div>
  <form [formGroup]="form">
    <nb-card style=" margin: auto; border-radius: 20px;">
    	<nb-card-body>
    	  <input type="text" nbInput fullWidth status="basic" placeholder="Name" formControlName="name" style="margin-bottom: 10px;">
    	  <div class="dialog-buttons-container">
          <button class="popup-button" nbButton ghost *ngIf="!this.currency" (click)="openCurrencyDialog()">Choose currency</button>
          <div class="currency" (click)="openCurrencyDialog()" *ngIf="this.currency">
            {{ currency.description }}
          </div>
    	    <button class="popup-button" nbButton ghost (click)="openIconDialog()" *ngIf="!this.iconName">Choose icon</button>
          <div class="icon-container" *ngIf="this.iconName">
            <div class="icon-inner-container" (click)="openIconDialog()" [ngStyle]="{'background-color': this.iconColor}">
              <i [ngClass]="this.iconName"></i>
            </div>
          </div>
    	  </div>
    	</nb-card-body>
    </nb-card>
    <nb-card class="subcategory">
      <nb-card-header>Subcategories</nb-card-header>
      <nb-card-body>
        <button class="popup-button" nbButton ghost>+ Add subcategory</button>
      </nb-card-body>
    </nb-card>
    <div class="buttons-container">
      <button class="cancel-button" nbButton ghost (click)="goBack()">Cancel</button>
      <button class="primary-button" nbButton status="primary" (click)="onSubmit()">Create</button>
    </div>
  </form>
</div>
