<div class="statistics">Statistics</div>
<div style="margin-left: 15%;margin-right: 15%;">
	<div>
		<div style="display: flex;align-items: center;margin-bottom: 20px;">
			<div style="flex-basis: 50%; display: flex; align-items: center;">
				<div icon="arrow-ios-back-outline" style="font-size: 24px;" class="icon-left" (click)="loadLastMonth();"></div>
				<div style="margin: 0 10px;">{{ monthList[statisticsMonth] }} {{ statisticsYear }}</div>
				<div *ngIf="statisticsMonth != currentMonth || statisticsYear != currentYear" icon="arrow-ios-forward-outline"
					style="font-size: 24px;" class="icon-right" (click)="loadNextMonth();">
				</div>
			</div>
			<div style="display: flex;justify-content: space-between; padding: 30px; background-color: #323259;flex-basis: 50%;">
				<div style="font-weight: 600;">Daily average</div>
				<div style="font-size: 24px;font-weight: 600;">{{ dailyExpense }} {{currencyName}}</div>
			</div>
		</div>
		<div>
		  <div>Spend By Category</div>
		  <div>
		    <ngx-echarts-bar [categories]="categories"></ngx-echarts-bar>
		  </div>
		</div>
	</div>
</div>
