.category {
  flex-basis: 50%;
  margin-bottom: 1rem;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  flex-direction: row;
  align-items: center;
}

.icon-container {
  height: 100%;
  padding: .625rem;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.75rem;
  height: 4.75rem;
  font-size: 3.75rem;
  border-radius: nb-theme(card-border-radius);
  transition: width 0.4s ease;
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  color: white;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 0.5rem 0 0.75rem;
  border-left: 1px solid transparent;
}

.amount {
  font-size: 18px;
  margin-top: 10px;
  color: red;
}

.income {
  font-size: 18px;
  color: #19a519;
}

.expense {
  font-size: 18px;
  margin-bottom: 15px;
  color: red;
}

.category-header {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  overflow: hidden;
}

.row > * {
  min-width: 300px;
  padding: 5px;
  margin: 0 5px;
  width: calc(25% - 10px);
  word-wrap: break-word;
  float: left;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1600px) {
  .row > * {
    width: calc(33.3% - 10px);
  }
}

@media only screen and (max-width: 1300px) {
  .row > * {
    width: calc(50% - 10px);
  }
}

@media only screen and (max-width: 750px) {
  .row > * {
    width: calc(100% - 10px);
  }
}


.header {
  font-size: 17px;
  font-weight: 500;
  line-height: 2rem;
}