<div style="overflow: hidden;">
  <div>
    <nb-card style="margin-bottom: 1rem;">
      <nb-card-header class="category-header">
        <div>Categories</div>
        <button routerLink="/category/create" class="create-button" style="margin: 0;" nbButton ghost>Create category</button>
      </nb-card-header>
      <nb-card-body>
        <app-chart></app-chart>
        <div style="text-align: center;">
          <div class="header" style="margin-bottom: 15px;">Total expense</div>
          <div class="expense">-457,564.55 lei</div>
          <div class="income">+334,885.78 lei</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="row">
    <nb-card class="category" *ngFor="let category of categories">
      <div class="icon-container">
        <div class="icon-wrapper" style="background: {{ category.iconColor }}">
          <i class="{{ category.icon }}"></i>
        </div>
      </div>
      <div class="details">
        <div class="header" style="cursor: pointer;" routerLink="/category/edit/{{category.id}}">{{ category.name }}</div>
        <div class="amount">-347 lei</div>
      </div>
    </nb-card>
  </div>
</div>
