<div style="overflow: hidden;">
  <div>
    <nb-card style="margin-bottom: 1rem;">
      <nb-card-header class="category-header">
        <div style="font-size: 24px;font-weight: 400;">Categories</div>
        <button routerLink="/category/create" style="margin: 0;" nbButton status="primary" class="primary-button normal-weight">Create category</button>
      </nb-card-header>
      <nb-card-body>
        <app-chart [categories]="fakeCategories"></app-chart>
        <div style="text-align: center;">
          <div class="header" style="margin-bottom: 15px;">Total expense</div>
          <div class="expense">-457,564.55 lei</div>
          <div class="income">+334,885.78 lei</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="row">
    <nb-card class="category" *ngFor="let category of categories">
      <div class="icon-container">
        <div class="icon-wrapper" style="background: {{ category.iconColor }}">
          <i class="{{ category.icon }}"></i>
        </div>
      </div>
      <div class="details" style="width: 100%;">
        <div class="spaced-flexbox">
          <div class="header category-header" routerLink="/category/edit/{{category.id}}">{{ category.name }}</div>
          <nb-icon icon="trash-2-outline" style="margin-left: 10px; color: #737373; cursor: pointer;" (click)="openDeleteCategoryDialog(category.id)">
          </nb-icon>
        </div>
        <div class="amount">-{{ category.totalAmount }} {{ currencyName }}</div>
      </div>
    </nb-card>
  </div>
</div>
