<div style="overflow: hidden;">
  <div>
    <nb-card style="margin-bottom: 1rem;">
      <nb-card-header class="category-header">
        <div>Categories</div>
        <button routerLink="/category/create" class="create-button" style="margin: 0;" nbButton ghost>Create category</button>
      </nb-card-header>
      <nb-card-body>
        <app-chart></app-chart>
        <div style="text-align: center;">
          <div class="h5" style="margin-bottom: 15px;">Total expense</div>
          <div class="expense">-457,564.55 lei</div>
          <div class="income">+334,885.78 lei</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="big-container">
    <div class="category-container category-width">
      <nb-card class="category">
        <div class="icon-container">
          <div class="icon-wrapper">
            <i class="fab fa-android"></i>
          </div>
        </div>
        <div class="details">
          <div class="h5">Mancat in oras</div>
          <div class="paragraph-2 amount">-347 lei</div>
        </div>
      </nb-card>
      <nb-card class="category">
        <div class="icon-container">
          <div class="icon-wrapper">
            <i class="fab fa-android"></i>
          </div>
        </div>
        <div class="details">
          <div class="h5">Mancat in oras</div>
          <div class="paragraph-2 amount">-347 lei</div>
        </div>
      </nb-card>
    </div>
    <div class="category-container category-width">
      <nb-card class="category">
        <div class="icon-container">
          <div class="icon-wrapper">
            <i class="fab fa-android"></i>
          </div>
        </div>
        <div class="details">
          <div class="h5">Mancat in oras</div>
          <div class="paragraph-2 amount">-347 lei</div>
        </div>
      </nb-card>
      <nb-card class="category">
        <div class="icon-container">
          <div class="icon-wrapper">
            <i class="fab fa-android"></i>
          </div>
        </div>
        <div class="details">
          <div class="h5">Mancat in oras</div>
          <div class="paragraph-2 amount">-347 lei</div>
        </div>
      </nb-card>
    </div>
  	<div class="category-container category-width">
  	  <nb-card class="category">
        <div class="icon-container">
          <div class="icon-wrapper">
            <i class="fab fa-android"></i>
          </div>
        </div>
        <div class="details">
          <div class="h5">Mancat in oras</div>
          <div class="paragraph-2 amount">-347 lei</div>
        </div>
      </nb-card>
      <nb-card class="category">
        <div class="icon-container">
          <div class="icon-wrapper">
            <i class="fab fa-android"></i>
          </div>
        </div>
        <div class="details">
          <div class="h5">Mancat in oras</div>
          <div class="paragraph-2 amount">-347 lei</div>
        </div>
      </nb-card>
  	</div>
  	<div class="category-container category-width">
  	  <nb-card class="category">
        <div class="icon-container">
          <div class="icon-wrapper">
            <i class="fab fa-android"></i>
          </div>
        </div>
        <div class="details">
          <div class="h5">Mancat in oras</div>
          <div class="paragraph-2 amount">-347 lei</div>
        </div>
      </nb-card>
      <nb-card class="category">
        <div class="icon-container">
          <div class="icon-wrapper">
            <i class="fab fa-android"></i>
          </div>
        </div>
        <div class="details">
          <div class="h5">Mancat in oras</div>
          <div class="paragraph-2 amount">-347 lei</div>
        </div>
      </nb-card>
  	</div>
        <div class="category-container category-width">
      <nb-card class="category">
        <div class="icon-container">
          <div class="icon-wrapper">
            <i class="fab fa-android"></i>
          </div>
        </div>
        <div class="details">
          <div class="h5">Mancat in oras</div>
          <div class="paragraph-2 amount">-347 lei</div>
        </div>
      </nb-card>
      <nb-card class="category">
        <div class="icon-container">
          <div class="icon-wrapper">
            <i class="fab fa-android"></i>
          </div>
        </div>
        <div class="details">
          <div class="h5">Mancat in oras</div>
          <div class="paragraph-2 amount">-347 lei</div>
        </div>
      </nb-card>
    </div>
        <div class="category-container category-width">
      <nb-card class="category">
        <div class="icon-container">
          <div class="icon-wrapper">
            <i class="fab fa-android"></i>
          </div>
        </div>
        <div class="details">
          <div class="h5">Mancat in oras</div>
          <div class="paragraph-2 amount">-347 lei</div>
        </div>
      </nb-card>
      <nb-card class="category">
        <div class="icon-container">
          <div class="icon-wrapper">
            <i class="fab fa-android"></i>
          </div>
        </div>
        <div class="details">
          <div class="h5">Mancat in oras</div>
          <div class="paragraph-2 amount">-347 lei</div>
        </div>
      </nb-card>
    </div>
  </div>
</div>
