<nb-card style="width: 400px;">
	<nb-card-header>Currency</nb-card-header>
	<nb-card-body>
   <nb-radio-group [(ngModel)]="selectedCurrency">
		<nb-radio *ngFor="let currency of currencies" [value]="currency" [checked]="currency.checked">{{currency.value}}</nb-radio>
  </nb-radio-group>
	</nb-card-body>
		<nb-card-footer>
	  <div class="buttons-container">
	  	<button class="create-button" nbButton ghost (click)="close()">Cancel</button>
			<button class="primary-button" nbButton status="primary" (click)="selectCurrency(selectedCurrency)">Select</button>
	  </div>
	</nb-card-footer>
</nb-card>
