.transaction-container {
  margin: auto;
  max-width: 600px;
  border: none;
  border-radius: 20px;
}

.transaction-create {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 40px;
  color: #4184e8;
}

.transaction-select {
  flex-basis: 50%;
  border-right: 1px solid #e4e9f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 10px 1.5rem;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: rgb(114, 193, 190);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 25px;
  color: white;
}

.transaction-select:hover {
  background: #f7f9fc;
  cursor: pointer;
}

.description {
  font-size: 13px;
  color: #737373;
  font-style: italic;
}

.input-container {
  margin-bottom: 10px;
}

.transaction-header {
  width: 100%;
  display: flex;
  padding: 0;
  background: #edf1f7;
  padding: 0;
}

.create-button {
  margin: auto;
  color: #4184e8 !important;
  text-transform: none !important;
  margin-right: 10px;
}

.buttons-container {
  text-align: center;
}
