<div class="transaction-create">Create Transaction</div>
<form [formGroup]="form">
  <nb-card class="transaction-container">
    <nb-card-header class="transaction-header">
      <div class="transaction-select" (click)="openAccountDialog()" style="border-top-left-radius: 20px;">
        <div>
          <div class="description">From account</div>
          <div class="primary-color" *ngIf="account">{{ account.name }}</div>
          <div class="primary-color" *ngIf="!account">Select account</div>
        </div>
        <div *ngIf="!account" class="transaction-icon"><i class="fab fa-android"></i></div>
        <div *ngIf="account" class="transaction-icon" style="background: {{ account.iconColor }}"><i class="{{ account.icon }}"></i></div>
      </div>
      <div class="transaction-select" (click)="openCategoryDialog()" style="border-top-right-radius: 20px;">
        <div>
          <div class="description">In category</div>
          <div class="primary-color" *ngIf="category">{{ category.name }}</div>
          <div class="primary-color" *ngIf="!category">Select Category</div>
        </div>
        <div *ngIf="!category" class="transaction-icon"><i class="fab fa-android"></i></div>
        <div *ngIf="category" class="transaction-icon" style="background: {{ category.iconColor }}"><i class="{{ category.icon }}"></i></div>
      </div>    
    </nb-card-header>
    <nb-card-body>
      <div class="input-container">
        <input nbInput placeholder="Pick Date" fullWidth [nbDatepicker]="formpicker" formControlName="date">
        <nb-datepicker #formpicker></nb-datepicker>
      </div>
      <div class="input-container">
        <input nbInput fullWidth formControlName="amount" placeholder="Amount (lei)">
      </div>
      <div class="input-container">
        <input nbInput fullWidth formControlName="note" placeholder="Note">
      </div>
      <div class="buttons-container">
        <button class="create-button" nbButton ghost (click)="goBack()">Cancel</button>
        <button type="submit" nbButton status="primary" class="primary-button" (click)="onSubmit()">Save</button>
      </div>
    </nb-card-body>
  </nb-card>
</form>
