@import 'src/themes';

@import '~@nebular/theme/styles/globals';
@import '~nebular-icons/css/nebular-icons.css';

.transaction-container {
  margin: auto;
  max-width: 600px;
  border: none;
  border-radius: 20px;
}

.description {
  font-size: 13px;
  color: #737373;
  font-style: italic;
}

.input-container {
  margin-bottom: 10px;
}

.transaction-header {
  width: 100%;
  display: flex;
  padding: 0;
  padding: 0;
}

.create-button {
  margin: auto;
  color: nb-theme(color-primary-500) !important;
  text-transform: none !important;
  margin-right: 10px;
}

.buttons-container {
  text-align: center;
}
