<div class="transaction-create">Create Transaction</div>
<nb-card class="transaction" style="border: none;">
  <nb-card-header style="padding: 0;">
    <div style="width: 100%; display: flex; padding: 0;background: #edf1f7;">
      <div class="category" (click)="openCategoryDialog()">
        <div>Contul</div>
        <div class="icon"><i class="fab fa-android" style="font-size: 25px;color: white;"></i></div>
      </div>
      <div class="category" (click)="openCategoryDialog()">
        <div>Contul</div>
        <div class="icon"><i class="fab fa-android" style="font-size: 25px;color: white;"></i></div>
      </div>    
    </div>
  </nb-card-header>
  <nb-card-body>
    <form>
      <div class="form-group row" style="margin-bottom: 10px;">
        <div class="col-sm-9">
          <input type="email" nbInput fullWidth id="inputEmail1" placeholder="Amount (lei)">
        </div>
      </div>
      <div class="form-group row" style="margin-bottom: 10px;">
        <div class="col-sm-9">
          <input nbInput fullWidth id="inputPassword2" placeholder="Note">
        </div>
      </div>
      <div class="form-group row" style="text-align: center;">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" nbButton status="primary">Save</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
