<nb-card>
	<nb-card-header>Choose category</nb-card-header>
	<nb-card-body>
		<div class="dialog-big-container">
			<div class="dialog-inner-container" *ngFor="let category of categories" (click)="chooseCategory(category)" [ngClass]="category.active">
				<div class="dialog-inner-name">{{category.name}}</div>
			  <div class="dialog-color-inner-container" style="background: {{ category.iconColor }}">
			  	<i class="{{ category.icon }}" style="font-size: 25px;color: white;"></i>
			  </div>
			  <div class="dialog-inner-amount">-53,4534 lei</div>
			</div>
		</div>
	</nb-card-body>
	<nb-card-footer>
	  <div class="buttons-container">
	  	<button class="cancel-button" nbButton status="primary" outline (click)="close()">Cancel</button>
			<button class="primary-button" nbButton status="primary" (click)="selectCategory()">
				Select
			</button>
	  </div>
	</nb-card-footer>
</nb-card>
