<div style="width: 400px;">
	<div>Choose the type of transaction</div>
	<div>
    <div-group [(ngModel)]="selectedTransaction" class="radio-group">
			<div value="Expense">Expense</div>
			<div value="Transfer">Transfer</div>
    </div-group>
	</div>
	<div>
	  <div class="buttons-container">
	  	<button class="cancel-button"  status="primary" outline (click)="close()">Cancel</button>
			<button class="primary-button"  status="primary" (click)="selectTransaction(selectedTransaction)">
				Select
			</button>
	  </div>
	</div>
</div>
