<nb-card style="width: 400px;">
	<nb-card-header>Choose the type of transaction</nb-card-header>
	<nb-card-body>
    <nb-radio-group [(ngModel)]="selectedTransaction" class="radio-group">
			<nb-radio value="Expense">Expense</nb-radio>
			<nb-radio value="Transfer">Transfer</nb-radio>
    </nb-radio-group>
	</nb-card-body>
	<nb-card-footer>
	  <div class="buttons-container">
	  	<button class="cancel-button" nbButton ghost (click)="close()">Cancel</button>
			<button class="primary-button" nbButton status="primary" (click)="selectTransaction(selectedTransaction)">
				Select
			</button>
	  </div>
	</nb-card-footer>
</nb-card>
