.responsive-table {
  padding: 0;
  margin: 0;
}

li {
  border-radius: 3px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.transaction-details {
  flex-basis: 80%;
}

.transaction-amount {
  flex-basis: 20%;
  text-align: end;
}

.transactions {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 20px;
  color: #4184e8;
}

.category {
  color: #4184e8;
  font-weight: 600;
}

.note {
  font-style: italic;
  line-height: 1.5;
  color: #737373;
}

.single-transaction {
  line-height: 1.5;
  color: #737373;
}

.transaction-date {
  border-radius: 3px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  color: #737373;
}

.create-button:hover {
  background-color: rgba(71, 116, 206, 0.08) !important;
}

.create-button {
  background-color: rgba(71, 116, 206, 0.08) !important;
  margin-bottom: 15px;
  text-transform: none !important;
  color: #4184e8 !important;
}

.date-style {
  font-size: 25px;
  margin-right: 2px;
}

// Responsive

@media all and (max-width: 600px) {
  .table-header {
    display: none;
  }

  li {
    display: block;
  }

  .transaction-details, .transaction-amount {
    flex-basis: 100%;
    display: block;
    text-align: center;
  }

  .money {
    margin-top: 10px;
  }
}
