<div style="font-size: 24px; text-align: center; font-weight: 500; padding-bottom: 20px; color: #3f3dc7;">Transactions</div>
<button nbButton size="small" routerLink="/transactions/create">Create transaction</button>
<ul class="responsive-table">
<li class="table-row">
  <div class="col col-1">
  	<div style="color: #3f3dc7; font-weight: 600;">Cumparaturi</div>
  	<div style="line-height: 1.5; color: #737373;">Cont</div>
  	<div style="font-style: italic; line-height: 1.5; color: #737373;">Legume lidl</div>
  </div>
  <div class="col col-2">-30 lei</div>
</li>
<li class="table-row">
  <div class="col col-1">
  	<div style="color: #3f3dc7; font-weight: 600;">Cumparaturi</div>
  	<div style="line-height: 1.5; color: #737373;">Numerar Andreea</div>
  	<div style="font-style: italic; line-height: 1.5; color: #737373;">Legume lidl</div>
  </div>
  <div class="col col-2">+30 lei</div>
</li>
<li class="table-row">
  <div class="col col-1">
  	<div style="color: #3f3dc7; font-weight: 600;">Renovare garsoniera</div>
  	<div style="line-height: 1.5; color: #737373;">Numerar Ioan</div>
  	<div style="font-style: italic; line-height: 1.5; color: #737373;">Legume lidl</div>
  </div>
  <div class="col col-2">-30 lei</div>
</li>
<li class="table-row">
  <div class="col col-1">
  	<div style="color: #3f3dc7; font-weight: 600;">Cumparaturi</div>
  	<div style="line-height: 1.5; color: #737373;">Chirie</div>
  	<div style="font-style: italic; line-height: 1.5; color: #737373;">Legume lidl</div>
  </div>
  <div class="col col-2">+30 lei</div>
</li>
</ul>
