<div clas="dialog-header">
  <div>Category icon</div>
</div>
<div class="dialog-body">
  <div class="icon">
    <div class="big-container">
      <div class="icon-container" *ngFor="let icon of this.iconList">
        <div class="icon-inner-container" [ngClass]="icon.active" (click)="chooseIcon($event, icon)">
          <img src="assets/svg/{{icon.class}}.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dialog-footer">
  <div class="buttons-container">
    <button class="primary-button" (click)="close()">Cancel</button>
    <span style="margin-left: 10px;"></span>
    <button class="primary-button" (click)="selectIcon()">Select</button>
  </div>
</div>
