<nb-card style="width: 400px;">
  <nb-card-header>Category icon</nb-card-header>
	<nb-card-body>
	  <nb-tabset fullWidth>
		  <nb-tab tabTitle="Icon" class="icon">
		    <div class="big-container">
			   	<div class="icon-container" *ngFor="let icon of this.iconList">
			   	  <div class="icon-inner-container" [ngClass]="icon.active" (click)="chooseIcon($event, icon)">
			   		  <i [ngClass]="icon.class"></i>
			   	  </div>
			   	</div>
		    </div>
		  </nb-tab>
		  <nb-tab tabTitle="Color" style="padding: 0;">
		    <div class="big-container">
			   	<div class="color-container" *ngFor="let color of this.colorList">
			   	  <div class="color-inner-container" [ngClass]="color.active" (click)="chooseColor($event, color)"
			   	   [ngStyle]="{'background-color': color.class}"></div>
			   	</div>
		    </div>
		  </nb-tab>
		</nb-tabset>
	</nb-card-body>
	<nb-card-footer>
	  <div class="buttons-container">
	  	<button class="cancel-button" nbButton ghost (click)="close()">Cancel</button>
			<button class="primary-button" nbButton status="primary" (click)="selectIcon()">Select</button>
	  </div>
	</nb-card-footer>
</nb-card>
