
.popup-button {
  margin-bottom: 15px;
  text-transform: none !important;
 // color: nb-theme(color-primary-500) !important;
  margin: 0;
}

.popup-button:focus {
	box-shadow: none !important;
}

.icon-container {
  margin: 10px 0;
}

.icon-inner-container {
  text-align: center;
  font-size: 25px;
  height: 40px;
  width: 40px;
  margin: auto;
  border-radius: 50%;
  background: #8f9bb3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.subcategory {
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
}

.buttons-container {
  text-align: center;
  margin-top: 20px;
}

.dialog-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currency {
  font-weight: 600;
  cursor: pointer;
  //color: nb-theme(color-primary-500);
}

.form-container {
  margin: auto;
  max-width: 600px;
  border: none;
  border-radius: 20px;
  background-color: #f2f6f9;
  padding: 20px;
}

.form-container > input {
  border: none;
  background-clip: padding-box;
  border-radius: 10px;
  display: block;
  height: 2.25rem;
  line-height: 1.5;
  padding: 23px 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  font: inherit;
  font-size: inherit;
  font-size: inherit;
  font-size: 15px;
  color: #1a425e;
}
