<div class="default-panel">
  <div class="default-header" *ngIf="!accountId">Create Account</div>
  <div class="default-header" *ngIf="accountId">Update Account</div>
  <form [formGroup]="form">
    <nb-card style=" margin: auto; border-radius: 20px;">
    	<nb-card-body>
    	  <input type="text" nbInput fullWidth status="basic" placeholder="Name" formControlName="name" style="margin-bottom: 20px;">
    	  <input type="text" nbInput fullWidth status="basic" placeholder="Amount" formControlName="amount" style="margin-bottom: 20px;">
    	  <div class="dialog-buttons-container">
          <button class="popup-button" nbButton *ngIf="!this.currency" outline status="primary" (click)="openCurrencyDialog()">Choose currency</button>
          <div class="currency" (click)="openCurrencyDialog()" *ngIf="this.currency" style="padding-left: 1rem;">
            {{ currency.description }}
          </div>
    	    <button class="popup-button" nbButton outline status="primary" (click)="openIconDialog()" *ngIf="!this.iconName">Choose icon</button>
          <div class="icon-container" *ngIf="this.iconName" style="padding-right: 1rem;">
            <div class="icon-inner-container" (click)="openIconDialog()" [ngStyle]="{'background-color': this.iconColor}">
              <i [ngClass]="this.iconName"></i>
            </div>
          </div>
    	  </div>
    	  <div class="buttons-container">
		      <button class="cancel-button" outline status="primary" nbButton (click)="goBack()">Cancel</button>
		      <button class="primary-button" nbButton status="primary" (click)="onSubmit()" *ngIf="!accountId">Create</button>
		      <button class="primary-button" nbButton status="primary" (click)="onSubmit()" *ngIf="accountId">Save</button>
		    </div>
    	</nb-card-body>
    </nb-card>
  </form>
</div>
