@import 'src/themes';

.transaction-container {
  margin: auto;
  max-width: 600px;
  border: none;
  border-radius: 20px;
  background-color: #f2f6f9;
  padding: 20px;
}

.description {
  font-size: 13px;
  color: #b9b9b9;
  font-style: italic;
  font-weight: 400;
}

.input-container {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  background: white;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
}

.transaction-header {
  width: 100%;
  display: flex;
  padding: 0;
  padding: 0;
}

.create-button {
  margin: auto;
  //color: nb-theme(color-primary-500) !important;
  text-transform: none !important;
  margin-right: 10px;
}

.buttons-container {
  text-align: center;
}

.input-container > input {
  border: none;
  background-clip: padding-box;
  border-radius: 10px;
  display: block;
  height: 2.25rem;
  line-height: 1.5;
  padding: 23px 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  font: inherit;
  font-size: inherit;
  font-size: inherit;
  font-size: 15px;
  color: #1a425e;
  //background-color: #f2f6f9;
}

.transaction-select {
  background-color: white;
  border-radius: 10px;
}

.transaction-body {
  margin-top: 20px;
}

.transaction-header > .transaction-select {
  margin: 0 10px;
}
