@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~nebular-icons/css/nebular-icons.css';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

.primary-button {
	margin: auto;
	color: white !important;
	text-transform: none !important;
}

.primary-color {
	color: nb-theme(color-primary-500);
}

.default-header {
	font-size: 24px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 40px;
  color: nb-theme(color-primary-500);
}

.default-panel {
	max-width: 600px;
  margin: auto;
}

.cancel-button {
	margin: auto;
  text-transform: none !important;
  margin-right: 10px;
}

.cancel-button:focus {
  box-shadow: none !important;
  background-color: white !important;
  border: none !important;
}

.cancel-button:active {
	box-shadow: none !important;
}

.create-button {
  background-color: rgba(71, 116, 206, 0.08) !important;
  margin-bottom: 15px;
  text-transform: none !important;
  color: nb-theme(color-primary-500) !important;
}


// Transaction Create / Edit

.transaction-select {
  flex-basis: 50%;
  border-right: 1px solid nb-theme(color-basic-1000);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1.5rem;
}

.transaction-select:hover {
  cursor: pointer;
}

.transaction-create {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 40px;
  color: nb-theme(color-primary-500);
}

.transaction-icon {
  width: 40px;
  height: 40px;
  background-color: rgb(114, 193, 190);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 25px;
  color: white;
}

// Dialog styles

.dialog-inner-container {
  margin: 10px 0;
  text-align: center;
  padding: 5px;
  width: 150px;
}

.dialog-inner-container:hover {
  cursor: pointer;
  background-color: nb-theme(color-basic-900);
}

.dialog-color-inner-container {
  text-align: center;
  font-size: 25px;
  height: 40px;
  width: 40px;
  margin: auto;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dialog-big-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dialog-inner-name {
  margin-bottom: 10px;
  font-weight: 600;
}

.dialog-inner-amount {
  margin-top: 10px;
}

.dialog-inner-active {
  background-color: nb-theme(color-basic-900);
}

// Dialog styles end

.cancel-button {
  margin: auto;
  color: nb-theme(color-primary-500) !important;
  text-transform: none !important;
  margin-right: 10px;
}

.buttons-container {
  text-align: center;
}
