@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/cosmic';

$primary_font_family: 'Noto Sans', helvetica, arial, sans-serif;

$nb-themes: nb-register-theme((

  font-family-primary: $primary_font_family

), cosmic, cosmic);
